<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet"> <!-- Link to the footer CSS file -->
</head>
<body>
<div th:replace="fragments/header :: header" th:with="page='home'"></div>

<div class="container mt-5">
    <h1>Welcome to MyApp</h1>
    <p>This is the home page.</p>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
