<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <header class="bg-primary text-white py-3">
        <nav class="container navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">MyApp</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" th:classappend="${page == 'home' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item" th:classappend="${page == 'about' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                    <li class="nav-item" th:classappend="${page == 'contact' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/contact}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
